<%= javascript_include_tag :defaults %>

<style type="text/css">

label.currencies
{

text-align: right;
clear: both;
float:left;
margin-right:15px;
    width: 50px;

}


div.canvas
{
    width: 400px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background: #00eeff;
    border-radius: 25px;
}

div.title
{
    position: relative;
    transform: translate(30%, 50%);
}


label.title
{
    font-size: 150%;
}

div.currencies
{
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    float:right;
}

div.date
{
    position: relative;
    top: 100px;
    left: 15px;
    display: inline-block;
    width: 140px;
}

label.al_right
{
    text-align: right;
}

label.al_left
{
    text-align: left;
}

div.amount
{
    position: relative;
    top: 110px;
    left: 15px;
    display: inline-block;
    width: 140px;
}

div.convert
{
    position: relative;
    top: 150px;
    left: 15px;
    display: inline-block;
    width: 300px;
}



.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.limited_input
{
width: 50px;
}


</style>



<div class="canvas">

  <div class="title">
  <label  class="title" >FX-u-Like</label>
    </div>

    <div class="currencies">
      <form>
        <div class="form-group">
            <label  class="currencies" >From:</label>
            <%= select_tag "base", options_for_select(ExchangeRate::get_available_currencies) %>
        </div>
      </form>

        <div class="form-group">
            <label  class="currencies">To:</label>
            <%= select_tag "counter", options_for_select(ExchangeRate::get_available_currencies) %>
        </div>

    </div>

    <div class="date">
                <label class="al_right">Date:</label>
                <%= select_tag "date", options_for_select(ExchangeRate::get_available_dates) %>
    </div>


  <div class="amount">
    <label class="al_right">Amount:</label>
    <input class="limited_input" id="multiplier" type="text" name="fname" value="1" placeholder="amount"/>
    </div>


  <div class="convert">
    <%= link_to "Convert", '#', onclick: "calculateRate()", class: "button"%>
    <label class="al_left" id="result">1</label>
  </div>




</div>

<script>


    function calculateRate()
    {
        var date = document.getElementById("date").value;
        var base = document.getElementById("base").value;
        var counter = document.getElementById("counter").value;
        var mul = document.getElementById("multiplier").value;

        $.ajax({
            url: "/exchange_rate/update?currency_base="+base+"&currency_counter="+counter+"&date="+ date,
            type: "GET",
            success: function( data, status, xhr){
                document.getElementById("result").innerHTML = data.message * mul
            }
        });

    }



</script>
